body {
   background-color:  #f0f0f0;
}
//обертка карточек
.goods-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: -75px;
}

//карточки
.card {
    max-width: 320px;
    margin-left: 75px;
    &:nth-child(n+4) {
        margin-top: 30px;
    }
    &:hover, &:focus {
       box-shadow: #00000073 0px 0px 20px 0px;
    }
    //обертка цены и кнопки
    .cart-btn-price-wrap {
        display: flex;
        justify-content: space-between;
        .cart-price {
            font-size: 20px;
            font-weight: bold;
            color: #27a243;
            align-self: center;
            margin: 0;
        }
    }
}
