.container {
  width: 1200px;
  margin: 0 auto;
}

.carousel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.carousel-container .fade {
  display: block !important;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.carousel-container .mySlides {
  display: none;
}

.carousel-container .mySlides img {
  display: block;
  width: 100%;
}

.carousel-container .mySlides .carousel-number {
  position: absolute;
  top: 30px;
  left: 49%;
  color: #fafafa;
  font-size: 45px;
}

.carousel-container .mySlides .carousel-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: #fafafa;
  font-size: 45px;
}

.carousel-container .preview, .carousel-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
}

.carousel-container .preview:hover, .carousel-container .next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-container .dot-container {
  position: absolute;
  bottom: 25px;
  left: 45%;
}

.carousel-container .dot-container .dot {
  display: inline-block;
  cursor: pointer;
  height: 23px;
  width: 23px;
  margin: 0 2px;
  background: #bbb;
  border-radius: 50%;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
}

.carousel-container .dot-container .dot:hover {
  background: #717171;
}

.carousel-container .dot-container .active {
  background: #717171;
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  height: 173px;
  background: #fafafa;
}

.cart-container .cart-container-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-container .cart-container-left-side .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px rgba(93, 90, 90, 0.29);
          box-shadow: 0 0 5px rgba(93, 90, 90, 0.29);
  margin-left: 5px;
  margin-top: 5px;
  padding: 3px;
  font-size: 20px;
}

.cart-container .cart-container-left-side .cart-item .cart-item-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10px;
}

.cart-container .cart-container-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 30px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}

.product-item img {
  display: block;
  width: 100%;
}

.product-item:hover .button {
  background: #fc5a5a;
}

.product-list {
  background: #fafafa;
  padding: 15px 0;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.product-list a {
  cursor: pointer;
}

.product-list .price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

.product-list .button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.container-gallery {
  height: 825px;
  margin-top: 50px;
  padding-top: 15px;
  background: #fafafa;
}

.container-gallery .small-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-gallery .small-images img {
  border: 6px solid #cccccc;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.container-gallery .small-images img:hover {
  border-color: #fc5a5a;
  cursor: pointer;
}

.container-gallery .large-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.container-gallery .large-images img {
  border: 6px solid #cccccc;
  width: 70%;
  height: 70%;
}
